cache-dir
*__pycache__*
*DS_Store*

#CUDA Build Files
FeatUp/featup.egg-info/*
FeatUp/adaptive_conv_cpp_impl.cpython-311-x86_64-linux-gnu.so
FeatUp/adaptive_conv_cuda_impl.cpython-311-x86_64-linux-gnu.so

notebooks/test*
notebooks/*dv3*

.claude
.vscode

